parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$array \(list\<Phattarachai\\DbConsole\\Support\\Connection\>\) of array_values is already a list, call has no effect\.$#'
			identifier: arrayValues.list
			count: 1
			path: src/Support/Connection.php

		-
			message: '#^Parameter \#1 \$array \(list\<array\<string, mixed\>\>\) of array_values is already a list, call has no effect\.$#'
			identifier: arrayValues.list
			count: 1
			path: src/Support/Redactor.php

		-
			message: '#^Using nullsafe property access "\?\-\>estimate" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Support/SchemaInspector.php
